<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1z2b-61V26Pu01bmBLbA2h7D2cyH0zeE</string>
	<key>GCM_SENDER_ID</key>
	<string>386199392443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pizzaApp</string>
	<key>PROJECT_ID</key>
	<string>pizza-app-c3e5e</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-app-c3e5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386199392443:ios:7469d67244a7205d40199e</string>
</dict>
</plist>